{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Todo List - Django</title>
</head>
<body>
    <header>
        <h1>Todo List</h1>
    </header>
    <main>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <input type="text" placeholder="digite a nova tarefa" name="title">
                <button type="submit">Adicionar</button>
            </form>
            {% block content %}

            {% endblock content %}
        </div>
    </main>
    <footer></footer>
</body>
</html>