/*
********** Configurações **********
*/
:root {
    --primary-color: #ff5722;
    --second-color: #f4f4f4;
    --white-color: #ffffff;
    --success-color: #4caf50; 
    --warning-color: #ffc107; 
    --danger-color: #f44336;

    /* Hovers */
  --primary-hover-color: #e64a19; 
  --success-hover-color: #43a047; 
  --warning-hover-color: #ffa000; 
  --danger-hover-color: #d32f2f;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem 1fr 3rem;
    background-color: var(--second-color);
}

/*
********** Configurações - END **********
*/

/*
********** Header **********
*/
header {
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
}

header h1 {
    color: var(--white-color);
}

/*
********** Header - END **********
*/


/*
********** Main **********
*/
main .container {
    width: 90%;
    max-width: 45rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white-color);
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

main .container form {
    display: flex;
}

main .container ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main .container form {
    display: flex;
    gap: 1rem;
}

main .container form input {
    flex: 1;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

main .container form button {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    transition: all .6s;
}

main .container form button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

main .container ul li {
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;

    display: flex;
    align-items: center;
}

main .container ul li.completed {
    border: 1px solid var(--success-color);
}

main .container ul li span {
    flex: 1;
}

main .container ul li a {
    font-size: 1.5rem;
    padding: .5rem;
}

main .container ul li a:nth-of-type(1) {
    color: var(--success-color);
    transition: all .6s;
}

main .container ul li a:nth-of-type(2) {
    color: var(--warning-color);
    transition: all .6s;
}

main .container ul li a:nth-of-type(3) {
    color: var(--danger-color);
    transition: all .6s;
}

main .container ul li a:nth-of-type(1):hover {
    color: var(--success-hover-color);
    transform: scale(1.05);
}

main .container ul li a:nth-of-type(2):hover {
    color: var(--warning-hover-color);
    transform: scale(1.05);
}

main .container ul li a:nth-of-type(3):hover {
    color: var(--danger-hover-color);
    transform: scale(1.05);
}

/*
********** Main - END **********
*/


/*
********** Footer **********
*/
footer {
    background-color: var(--primary-color);
}

/*
********** Footer - END **********
*/